.car-list__container {
  max-width: 70%;
  margin: 50px auto;
  padding: 2rem 0;
}

.car-list__title {
  color: #90a3bf;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 2rem;
  padding-left: 2rem;
}

.car-list__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

@media (max-width: 768px) {
  .car-list__container {
    padding: 0 1rem;
  }

  .car-list__grid {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
  }

  .car-list__title {
    padding-left: 0;
  }
}
